.page-footer .glass .container-fluid {
    margin-bottom: 30px;
    margin-top: 30px;
}

.page-footer .glass {
    background-color: rgba(150, 150, 150, 0.6);
    padding-top: 10px;
}

.footer-email {
    margin-top: 10px;
}

.footer-email input {
    padding: 15px;
    font-size: 1.4rem;
}
.footer-email div button {
    font-size: 1.4rem;
}

.container .row {
    margin-bottom: 3px;
}

.footers ul li a:link{
    text-decoration: none;
}

.footers ul li a:hover{
    text-decoration-color: black;
}




.footer-copyright {
    padding: 10px 0 10px 0;
    background-color: #212530;
    color: #c9c7ce;
    font-size: 1.2rem;
}