.btn {
    max-height: 33px;
}
/* -------------------------- */

/* Estilo do HEADER */
/* Tratamento dos títulos dos elementos do Menu */
.theme-nav > * {
    font-size: 1.6rem;
    border: 1px solid red; /* Só pra ver mesmo o q é, depois pode tirar se quiser */
}
/* -------------------------- */
/* Tratamento dos elementos do Menu */
.nav-theme {
    display: flex;
    justify-content: flex-end;
    padding: .2%;
    margin: 1% 11% 1% 0;
}
.nav-theme div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.navbar-nav .nav-link {
    text-decoration: none;
    color: black !important;
    margin-right: 5px;
    border-radius: 5px;
    
}
.navbar-nav .nav-link:hover {
    text-shadow: 1px 1px rgb(197, 197, 197);
    background-color: whitesmoke;
    transition: .4s;
}
.search{

}
/* -------------------------- */

/* Estilo das POSTAGENS */
.posts-container {
    max-width: 100%;
    height: auto;
    margin: 0 0 auto 11%;
    padding: 5px;
}

.posts-container .post {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px rgb(216, 216, 216);
    border-radius: 5px;
    overflow: auto;
}
.posts-container .post span {
    font-size: 1.3rem;
    padding-top: 1%;
}
.posts-container .post .titles{
    padding: 1%;
}
.posts-container .post .titles .post-title {
    font-size: 2.6rem;
    line-height: 23px;
    text-decoration: none;
    color: black;
}
.posts-container .post .titles .post-title:hover{
    text-decoration: underline;
}
.posts-container .post p {
    font-size: 1.3rem;
    text-align: justify;
}
.posts-container .post .titles a{
    text-decoration: none;
    color: blue;
    font-size: 1.1rem;
}
.posts-container .post img {
    max-width: 130px;
    min-width: 120px;
    min-height: 150px;
    max-height: 160px;
    object-fit: cover;
}

.posts-container .post .titles {
    padding: auto;
    display: flex;
    margin-top: 0px;
    max-width: 100%;
    max-height: 160px;
    flex-direction: column;
    justify-content: center;
}
/* -------------------------- */

/* Estilo dos WIDGETS - SIDEBAR RIGHT */
.sidebar-right {
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    margin: .4% auto 2% 2%;
    text-align: left;
    font-size: 1.2rem;
    color: black;
    box-shadow: 1px 1px rgb(196, 196, 196);
    max-width: 260px;
}

/* Fontes titulos dos elementos do widgets */
.sidebar-right h2{
    font-size: 1.6rem;
    font-weight: bold;
}
.sidebar-right .widget-area{
    margin: 0 0 20px 0;
}
/* Tratamento das postagens recentes dos elementos do widgets */
.sidebar-right div ul li a{
    color: black;
}
.sidebar-right div ul li a:link{
    text-shadow: 2px 2px 3px white;
}
.sidebar-right div ul li a:hover{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-decoration: none;
}
.sidebar-right div ul li span:hover{
    text-decoration: underline;
}
/* --------------------------- */
/* Tratamento de TEXTO dos elementos */
.sidebar-right div div p{
    color: black;
    text-shadow: 2px 2px 3px white;
    text-align: justify;
    padding-top: 1%;
}
/* -------------------------- */
/* Tratamento SOMENTE de IMAGEM dos elementos */
.sidebar-right img{
    max-width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid whitesmoke; 
}
/* -------------------------- */
/* Tratamento de IMAGEM e TEXTO dos elementos */
.sidebar-right div{
    max-width: 100%;
    max-height: auto;
}
.sidebar-right div a img{
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}
/* -------------------------- */
/* Tratamento de CAMPO DE PESQUISA dos elementos */
.sidebar-right form div{
    width: 100%;
    height: auto;
}
.sidebar-right form div input{
    width: 69%;
    height: auto;
    margin: 0px 2px 2px 0px;
}
.sidebar-right form div div{
    width: auto;
    height: auto;
    margin: 0px 2px 2px 0px;
}
/* -------------------------- */

/* Estilo do FOOTER */
.page-footer{
    background-color: black;
    
}
.page-footer .glass {
    background-color: rgb(223, 223, 223);
    padding-top: 1%;
}
/* --------------------------- */
/* Estilo da Captura de E-mail do footer */
.container-fluid {
    margin-bottom: 30px;
    margin-top: 30px;
}
.container-fluid .titulo-footer{
    text-align: center;
    font-size: 2.1rem;
    text-shadow: 2px 2px 3px white;
}
.footer-email {
    margin-top: 10px;
}
.footer-email input {
    padding: 15px;
    font-size: 1.4rem;
}
.footer-email div button {
    font-size: 1.4rem;
}
/* --------------------------- */
/* Estilo dos elementos do footer */
.footers{
    border-right: 1px solid lightgray;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
/* Fontes titulos dos elementos do footer */
.footers h5{
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px white;
}
/* Tratamento de links dos elementos com DIVs */
.footers div ul li a{
    color: black;
}
.footers div ul li a:link{
    text-shadow: 2px 2px 3px white;
}
.footers div ul li a:hover{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-decoration: none;
}
/* -------------------------- */
/* Tratamento de links dos elementos com ULs */
.footers ul li a{
    color: black;
}
.footers ul li a:link{
    text-shadow: 2px 2px 3px white;
}
.footers ul li a:hover{
    color: white;
    text-shadow: 2px 2px 3px black;
    text-decoration: none;
}
/* -------------------------- */
/* Tratamento de SPAM dos elementos com ULs */
.footers ul li span{
    color: black;
}
.footers ul li span:hover{
    text-decoration: underline;
}
/* -------------------------- */
.footers div {
    width: auto;
    height: auto;
}

/* Tratamento de TEXTO dos elementos */
.footers div p{
    color: black;
    font-size: 1.3rem;
    text-shadow: 2px 2px 3px white;
    text-align: justify;
}
/* -------------------------- */
/* Tratamento SOMENTE de IMAGEM dos elementos */
.footers img{
    max-width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid whitesmoke; 
}
/* -------------------------- */
/* Tratamento de IMAGEM e TEXTO dos elementos */
.footers div{
    max-width: 100%;
    max-height: auto;
}
.footers div a img{
    max-width: 20%;
    height: auto;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}
/* -------------------------- */
/* Tratamento de CAMPO DE PESQUISA dos elementos */
.footers form div{
    width: 100%;
    height: auto;
}
.footers form div input{
    width: 80%;
    height: auto;
    margin: 0px 2px 2px 0px;
}
.footers form div div{
    width: auto;
    height: auto;
    margin: 0px 2px 2px 0px;
}
/* -------------------------- */
/* Estilo do Copyright do footer */
.footer-copyright {
    padding: 10px 0 10px 0;
    background-color: #212530;
    color: #c9c7ce;
    font-size: 1.2rem;
}
/* -------------------------- */

/* Estilo do HEADER do INDEX */
.theme--home header {
    display: flex;
    align-items: center;
    min-height: 55vh;
    padding: 0 6%;
    background-color: #6200ee;
}
.theme--home header h1 {
    font-size: calc(5rem + 2vw);
    font-weight: 300;
}
.theme--home header h2 {
    font-size: calc(2rem + 2vw);
    margin-bottom: 5vh;
}
.theme--home header h1,
.theme--home header h2 {
    color: #fff;
}
/* -------------------------- */

/* Estilo da CAIXA DE CAPTURA */
.input-email {
    z-index: 1;
    transform: translate(0, -50%);
    margin: auto;
    background-color: #f9f9f9;
    padding: 1.5% 1% 1.2% 1%;
    border-radius: 2px;
}
.input-email h3 {
    text-align: center;
    margin-bottom: 2px;
    padding: 1.2%;
    font-size: 2.2rem;
}
.input-email input {
    font-size: 15px;
    min-height: 3.1rem;
}
.input-email .capture-email-button {
    font-size: 16px;
}
.elevation {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* -------------------------- */

/* Estilo do CONTENT */
.theme--content .container-fluid{
    padding: 16% 0 0 11.5%;
    margin: 0;
}
.theme--content-title h2 {
    font-size: calc(2rem + 3vw);
    margin: 0;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
}
.theme--content header {
    min-height: 55vh;
    background-color: #6200ee;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Tratamento de CAMPO DE PESQUISA dos elementos */
.postagem{
    margin-bottom: 25px;
}
.autor{
    font-size: 1.2rem;
    padding-left: 10px;
}
.content{
    padding: 15px;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px rgb(216, 216, 216);
    border-radius: 5px;
    overflow: auto;
    display: block;
    color: black;
    font-size: 1.4rem;
}
/* Tratamento dos ELEMENTOS DO CONTENT */
.content p{
    text-align: justify;
}
.content img{
    box-shadow: 2px 2px 5px rgb(207, 207, 207);
}
.content cite{
    font-style: italic;
    color: rgb(199, 199, 199);
    text-shadow: 1px 1px black;
}
.content figure{
    border-radius: 5px;
}
.content a{
    color: black;
    font-size: 1.4rem;
}
.content ol, ul{
    margin: 0;
}
/* -------------------------- */

@media screen and (max-width: 540px) {
    .posts-container {
        width: 90%;
    }
}
