.social-background{
    position: fixed;
    left: .2%;
    top: 36%;
    max-width: 8rem;
    max-height: auto;
    border-radius: 5%;
    background-color: rgb(223, 223, 223);
    opacity: 0;
}
.social li img{
    width: 100%;
    height: 100%;
    padding: 4%;
    border-radius: 8%;
}
